<section>
<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header text-center">
        S'inscrire
      </div>

      <div class="card-body">
         <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Nom</label>
            <input type="text" class="form-control" formControlName="userName">
           <span *ngIf="!userName.valid && userName.touched " class="error-block">
            *Le champ est requis
           </span>
        </div>

        <div class="form-group col-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email">
        <span *ngIf="!email.valid && email.touched" class="error-block">
          <span *ngIf="email.hasError('required')">
            *Le champ est requis
          </span>
          <span *ngIf="email.hasError('email')">
            *Email non valide
          </span>
        </span>
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" formControlName="password">
          <span *ngIf="!password.valid && password.touched" class="error-block">
            <span *ngIf="password.hasError('required')">
              *Le champ est requis
            </span>
            <span *ngIf="password.errors?.['minlength']">
              *Le mot de passe ne doit pas être inférieur à 8 caractères
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirmation du mot de passe</label>
          <input type="password" class="form-control" formControlName="confirmPassword">
          <span *ngIf="!confirmPassword.valid && confirmPassword.touched" class="error-block">
            <span *ngIf="confirmPassword.hasError('required')">
              *Confirmez votre mot de passe s'il vous plait
            </span>

          </span>
          <span *ngIf="registerationForm.hasError('notmatched') && confirmPassword.valid" class="error-block">
            *Le mot de passe ne correspond pas
           </span>
        </div>

        <div class="form-group col-6 offset-3">
          <button type="submit" class="btn btn-primary col-12" style="margin-top:20px;">Enregistrer</button>
        </div>
        <div class="row mt-2">
          <div class="col">
            <span class="me-2">avez vous déja un compte?</span> <a routerLink="/login">Se Connecter</a>
          </div>
        </div>
         </form>
      </div>
    </div>
  </div>
</div>
</section>
